{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<div class="container">
<div class="row mt-5"  >
<div class="col-md-6 col-12">
    <img class="w-100" src="{% static 'images/272444.jpg' %}" alt="connection">  
</div>
<!-- /.col-md-6 col-12 -->
<div class="col-md-6 col-12">
    <h3>О Компании ТрансТелеКом</h3>
    <p>Компания ТрансТелеКом - один из ведущих российских операторов связи.</p>
    <p>Компания является поставщиком магистральных услуг связи для операторов и крупнейших корпораций России, а также входит в число лидеров среди провайдеров услуг широкополосного доступа в Интернет, телевидения и телефонии для конечных пользователей в регионах.</p>
<p>Компания активно вовлечена в процессы цифровой трансформации транспортно-логистической сферы. </p>
<p>ТТК оказывает транспортным предприятиям услуги связи и высокоскоростных корпоративных сетей, развивает и обеспечивает эксплуатацию инфраструктуры систем связи и транспортной безопасности. </p>
<p>Компания развивает новые компетенции - в сфере дистанционного обслуживания клиентов, внедряет системы видеонаблюдения и видеоаналитики, технологии искусственного интеллекта, развивает продукты в сфере транспортной телематики и цифровой контрольной инфраструктуры.</p>
</div>
<!-- /.col-md-6 col-12 -->  
</div>
</div>
<!-- /.container -->
{% endblock %}